# HEMTT
/.hemttout/
/releases/
.hemttprivatekey

# Native builds and dependencies
/build/
/.deps/

# Generated binaries
*.dll
*.exe
*.lib
*.exp
*.pdb
*.ilk
*.obj

# ArmA build output
*.pbo
*.bisign
*.biprivatekey
*.bikey
*.rpt

# IDE
.vs/
.vscode/
.idea/
*.user
*.suo

# Local files
*.log
*.tmp
*.bak
*.swp
Thumbs.db
Desktop.ini
.DS_Store
